@model SampleMvcAP.Models.BugModel

@{
    ViewData["Title"] = "Create new bug";
}

<h2 class="text-center">Create Case:</h2>

<hr />
<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <div class="container-fluid">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="BugTitle" class="control-label"></label>
                    <input asp-for="BugTitle" class="form-control" required />
                    <span asp-validation-for="BugTitle" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BugDescription" class="control-label"></label>
                    <input asp-for="BugDescription" class="form-control" required />
                    <span asp-validation-for="BugDescription" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SubmittedBy" class="control-label"></label>
                    <input asp-for="SubmittedBy" class="form-control" required />
                    <span asp-validation-for="SubmittedBy" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Date" class="control-label"></label>
                    <input asp-for="Date" class="form-control" required />
                    <span asp-validation-for="Date" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Openclosed" class="control-label"></label>
                    <input asp-for="Openclosed" class="form-control" value="Open" readonly />
                    <span asp-validation-for="Openclosed" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CodeFiles" class="control-label"></label>
                    <input type="file" asp-for="CodeFiles" class="form-control-file" />
                    <span asp-validation-for="CodeFiles" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary btn-block" style="background-color:#40798C;color:#D1FFD7;font-size:medium" />
                </div>

            </form>
        </div>
            
    </div>

</div>

